:root {
    --primari-text-color: #212121;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --accent-button-color: #2196f3;
    --button-text-color: #ffffff;
    --primari-bcg-color: #f5f5f5;
    --paragraph-text: #757575;
    --icon-fill-cololor: #757575;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

a {
    font-family: inherit;
    outline: none;
}

a.link {
    color: var(--primari-text-color);
}

ul {
    list-style: none;
    font-style: normal;
}

img {
    display: block;
}

